.DS_Store
node_modules/
dist/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
static/config.json
test-results.json
.idea
*.pyc
test-results.json
custom/i18n/
.vscode
.history
debug.log
mevoco-ui2.iml
node_modules
node_modules.nosync/
node_modules.zip
.gradle/
gradle
gradlew
gradlew.bat
test/itg/coverage
node_modules*
test/itg/config.json
yarn-error.log
yarn.lock